@use 'core/styles/variables';
@use 'core/styles/utilities';

.chat-container {
  color: variables.$primary;

  @media (max-width: variables.$device-mobile-l) {
    padding: utilities.$spacer * utilities.$size-3;
  }
  @media (min-width: calc(variables.$device-mobile-l + 1px)) and (max-width: variables.$device-tablet) {
    padding: utilities.$spacer * utilities.$size-4;
  }
  @media (min-width: calc(variables.$device-tablet + 1px)) and (max-width: variables.$device-laptop) {
    padding: utilities.$spacer * utilities.$size-4;
  }
  @media (min-width: calc(variables.$device-laptop + 1px)) {
    padding: utilities.$spacer * utilities.$size-5;
  }
}

.footer {
  background-color: variables.$bg-3;
  border-radius: 0.3rem;
}
