<div class="chat-container" (window:resize)="onResize()">
  <app-navbar [route]="route"></app-navbar>
  <h2 class="title">Chat</h2>
  <div class="text-center subtitle">Powered by DataRobot</div>
</div>
<kendo-chat [messages]="(feed | async)!" [user]="user" messageBoxType="textarea">
  <ng-template kendoChatMessageBoxTemplate>
    <div class="d-flex gap-2 w-100 align-items-center footer p-3">
      <kendo-textarea
        #messageBoxInput
        placeholder="Ask me anything..."
        resizable="none"
        [rows]="3"
        (keydown)="onKeyDown($event)"></kendo-textarea>
      <button kendoButton fillMode="flat" (click)="sendMessage()">
        <kendo-svgicon [icon]="paperPlaneIcon" size="large"></kendo-svgicon>
      </button>
    </div>
  </ng-template>
  <ng-template kendoChatMessageTemplate let-message>
    <div [innerHTML]="renderMarkdown(message.text)"></div>
  </ng-template>
</kendo-chat>
