@use 'core/styles/variables';
@use 'core/styles/utilities';

.subtitle {
  @media (max-width: variables.$device-mobile-l) {
    font-size: variables.$font-lg;
  }
  @media (min-width: calc(variables.$device-mobile-l + 1px)) and (max-width: variables.$device-tablet) {
    font-size: variables.$font-xl;
  }
  @media (min-width: calc(variables.$device-tablet + 1px)) and (max-width: variables.$device-laptop) {
    font-size: variables.$font-2xl;
  }
  @media (min-width: calc(variables.$device-laptop + 1px)) {
    font-size: variables.$font-2xl;
  }
}

.content-body {
  display: flex;
  justify-content: center;

  @media (max-width: variables.$device-mobile-l) {
    margin-top: utilities.$spacer * utilities.$size-4;
    font-size: variables.$font-sm;
  }
  @media (min-width: calc(variables.$device-mobile-l + 1px)) and (max-width: variables.$device-tablet) {
    margin-top: utilities.$spacer * utilities.$size-5;
    font-size: variables.$font-reg;
  }
  @media (min-width: calc(variables.$device-tablet + 1px)) and (max-width: variables.$device-laptop) {
    margin-top: utilities.$spacer * utilities.$size-5;
    font-size: variables.$font-lg;
  }
  @media (min-width: calc(variables.$device-laptop + 1px)) {
    margin-top: utilities.$spacer * utilities.$size-6;
    font-size: variables.$font-lg;
  }
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: variables.$device-mobile-l) {
    margin-top: utilities.$spacer * utilities.$size-5;
  }
  @media (min-width: calc(variables.$device-mobile-l + 1px)) and (max-width: variables.$device-tablet) {
    margin-top: utilities.$spacer * utilities.$size-5;
  }
  @media (min-width: calc(variables.$device-tablet + 1px)) and (max-width: variables.$device-laptop) {
    margin-top: utilities.$spacer * utilities.$size-6;
  }
  @media (min-width: calc(variables.$device-laptop + 1px)) {
    margin-top: utilities.$spacer * utilities.$size-6;
  }
}

.dialog-body {
  display: flex;
  align-items: center;
}

.right {
  color: variables.$success;
}

.wrong {
  color: variables.$error;
}

.k-dialog-wrapper .k-dialog {
  border-radius: 0.2rem;
}

.img {
  width: auto;
  height: 15rem;
  object-fit: contain;
}

.fun-fact {
  text-align: center;
  width: 14rem;
}
