@use 'core/styles/variables';
@use 'core/styles/utilities';

.survey-container {
  color: variables.$primary;
  position: relative;

  @media (max-width: variables.$device-mobile-l) {
    padding: utilities.$spacer * utilities.$size-3;
    padding-bottom: unset;
  }
  @media (min-width: calc(variables.$device-mobile-l + 1px)) and (max-width: variables.$device-tablet) {
    padding: utilities.$spacer * utilities.$size-4;
    padding-bottom: unset;
  }
  @media (min-width: calc(variables.$device-tablet + 1px)) and (max-width: variables.$device-laptop) {
    padding: utilities.$spacer * utilities.$size-4;
    padding-bottom: unset;
  }
  @media (min-width: calc(variables.$device-laptop + 1px)) {
    padding: utilities.$spacer * utilities.$size-5;
    padding-bottom: unset;
  }
}

.footer {
  background-color: variables.$bg-1;
  border-radius: 0.3rem;
}

.options-wrapper {
  display: flex;
  flex-direction: column;
}

.action-focus {
  border-color: #ff6358 !important;
  background-color: #ff6358 !important;
  color: variables.$light !important;
}

.action-unfocus {
  box-shadow: unset !important;
  border-color: unset !important;
  background: transparent linear-gradient(180deg, #8e9ae634 0%, #72ecdb43 100%) 0% 0% no-repeat padding-box !important;
  color: variables.$primary !important;
}
