@use 'core/styles/variables';
@use 'core/styles/utilities';

.quiz-wrapper {
  background:
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url('/assets/images/rainbox-banner.png') 0% 0% no-repeat padding-box;
  background-size: 170% 100%;
  background-repeat: no-repeat;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  padding: utilities.$spacer * utilities.$size-3;
}

/* Remember to change width for animations, must be aligned */
.quiz-container {
  color: variables.$primary;

  @media (max-width: variables.$device-mobile-l) {
    padding: utilities.$spacer * utilities.$size-3;
    width: 100vw;
    height: 35rem;
  }
  @media (min-width: calc(variables.$device-mobile-l + 1px)) and (max-width: variables.$device-tablet) {
    padding: utilities.$spacer * utilities.$size-4;
    width: 100vw;
    height: 35rem;
  }
  @media (min-width: calc(variables.$device-tablet + 1px)) and (max-width: variables.$device-laptop) {
    width: 45rem;
    height: 35rem;
  }
  @media (min-width: calc(variables.$device-laptop + 1px)) {
    width: 45rem;
    height: 35rem;
  }
}

.text--center {
  text-align: center !important;
  margin-left: unset !important;
  margin-right: unset !important;
}

.title {
  font-weight: 700;
  font-size: variables.$font-4xl;
}

.subtitle {
  text-align: right;

  @media (max-width: variables.$device-mobile-l) {
    margin-top: utilities.$spacer * utilities.$size-5;
    font-size: variables.$font-lg;
    margin-left: 10%;
  }
  @media (min-width: calc(variables.$device-mobile-l + 1px)) and (max-width: variables.$device-tablet) {
    margin-top: utilities.$spacer * utilities.$size-6;
    font-size: variables.$font-xl;
    margin-left: 20%;
  }
  @media (min-width: calc(variables.$device-tablet + 1px)) and (max-width: variables.$device-laptop) {
    margin-top: utilities.$spacer * utilities.$size-6;
    font-size: variables.$font-2xl;
    margin-left: 30%;
  }
  @media (min-width: calc(variables.$device-laptop + 1px)) {
    margin-top: utilities.$spacer * utilities.$size-7;
    font-size: variables.$font-2xl;
    margin-left: 30%;
  }
}

.content {
  @media (max-width: variables.$device-mobile-l) {
    margin-top: utilities.$spacer * utilities.$size-5;
    font-size: variables.$font-sm;
    margin-right: 10%;
  }
  @media (min-width: calc(variables.$device-mobile-l + 1px)) and (max-width: variables.$device-tablet) {
    margin-top: utilities.$spacer * utilities.$size-6;
    font-size: variables.$font-reg;
    margin-right: 20%;
  }
  @media (min-width: calc(variables.$device-tablet + 1px)) and (max-width: variables.$device-laptop) {
    margin-top: utilities.$spacer * utilities.$size-6;
    font-size: variables.$font-lg;
    margin-right: 30%;
  }
  @media (min-width: calc(variables.$device-laptop + 1px)) {
    margin-top: utilities.$spacer * utilities.$size-7;
    font-size: variables.$font-lg;
    margin-right: 30%;
  }
}
