<div class="landing-container">
  <div class="new-banner">
    <div class="aimie"></div>
    <div class="banner-text ms-1">
      <h3 class="position-relative">Meet AIMie,</h3>
      <h3>Your all inclusive AI assistant for AIM<sub>fg*</sub></h3>
    </div>
  </div>
  <!-- <div class="banner">
    <div>
      <h3>Hi, I'm AIMie!</h3>
      <div class="mt-3 text--secondary subtitle">Your Personal AI-Assistant for Today.</div>
    </div>
    <div class="chatbot"></div>
  </div> -->
  <div class="buttons-wrapper">
    <div class="buttons-container">
      <div *ngFor="let row of buttons">
        <app-card [data]="row"></app-card>
      </div>
    </div>
  </div>
</div>
