@use 'core/styles/variables';
@use 'core/styles/utilities';

.landing-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.new-banner {
  color: variables.$primary;
  text-align: left;
  // background: rgba(199, 218, 248, 0.25);
  // background: rgba(196, 199, 203, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100vw;
  position: relative;

  @media (max-width: variables.$device-mobile-l) {
    height: 9rem;
    padding-top: utilities.$spacer * utilities.$size-3;
  }
  @media (min-width: calc(variables.$device-mobile-l + 1px)) and (max-width: variables.$device-tablet) {
    padding-top: utilities.$spacer * utilities.$size-3;
    height: 11rem;
  }
  @media (min-width: calc(variables.$device-tablet + 1px)) and (max-width: variables.$device-laptop) {
    padding-top: utilities.$spacer * utilities.$size-5;
    height: 12rem;
    position: absolute;
  }
  @media (min-width: calc(variables.$device-laptop + 1px)) {
    height: 12rem;
    position: absolute;
    padding-top: utilities.$spacer * utilities.$size-5;
  }
}

.banner-text {
  @media (max-width: variables.$device-mobile-l) {
    width: 12rem;
  }
  @media (min-width: calc(variables.$device-mobile-l + 1px)) and (max-width: variables.$device-tablet) {
    width: 14rem;
  }
  @media (min-width: calc(variables.$device-tablet + 1px)) and (max-width: variables.$device-laptop) {
  }
  @media (min-width: calc(variables.$device-laptop + 1px)) {
  }
}

.banner {
  display: flex;
  flex-direction: column;
  background:
    linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
    url('/assets/images/landing-banner.jpg') 0% 0% no-repeat padding-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  justify-content: center;
  color: variables.$primary;
  position: relative;

  @media (max-width: variables.$device-mobile-l) {
    height: 9rem;
    padding: utilities.$spacer * utilities.$size-3;
  }
  @media (min-width: calc(variables.$device-mobile-l + 1px)) and (max-width: variables.$device-tablet) {
    height: 11rem;
    padding: utilities.$spacer * utilities.$size-4;
  }
  @media (min-width: calc(variables.$device-tablet + 1px)) and (max-width: variables.$device-laptop) {
    height: 12rem;
    padding: utilities.$spacer * utilities.$size-4;
  }
  @media (min-width: calc(variables.$device-laptop + 1px)) {
    height: 12rem;
    padding: utilities.$spacer * utilities.$size-5;
  }
}

.subtitle {
  width: 45vw;
}

.buttons-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: variables.$device-mobile-l) {
    height: calc(100svh - 9rem);
  }
  @media (min-width: calc(variables.$device-mobile-l + 1px)) and (max-width: variables.$device-tablet) {
    height: calc(100svh - 12rem);
  }
  @media (min-width: calc(variables.$device-tablet + 1px)) and (max-width: variables.$device-laptop) {
    min-height: calc(100svh);
  }
  @media (min-width: calc(variables.$device-laptop + 1px)) {
    min-height: calc(100svh);
  }
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: variables.$device-mobile-l) {
    margin-left: utilities.$spacer * utilities.$size-3;
    gap: utilities.$spacer * utilities.$size-3;
  }
  @media (min-width: calc(variables.$device-mobile-l + 1px)) and (max-width: variables.$device-tablet) {
    width: 25rem;
    gap: utilities.$spacer * utilities.$size-4;
  }
  @media (min-width: calc(variables.$device-tablet + 1px)) and (max-width: variables.$device-laptop) {
    gap: utilities.$spacer * utilities.$size-4;
  }
  @media (min-width: calc(variables.$device-laptop + 1px)) {
    gap: utilities.$spacer * utilities.$size-4;
  }
}

.aimie {
  background-image: url('/assets/images/AIMie.png');
  transform: rotate(0deg);
  z-index: 1;

  @media (max-width: variables.$device-mobile-l) {
    background-size: 5.5rem 5.5rem;
    width: 5.5rem;
    height: 5.5rem;
  }
  @media (min-width: calc(variables.$device-mobile-l + 1px)) and (max-width: variables.$device-tablet) {
    background-size: 6rem 6rem;
    width: 6rem;
    height: 6rem;
  }
  @media (min-width: calc(variables.$device-tablet + 1px)) and (max-width: variables.$device-laptop) {
    background-size: 6rem 6rem;
    width: 6rem;
    height: 6rem;
  }
  @media (min-width: calc(variables.$device-laptop + 1px)) {
    background-size: 6rem 6rem;
    width: 6rem;
    height: 6rem;
  }
}

.logo {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 3rem;
  height: auto;
}
