@use 'core/styles/variables';
@use 'core/styles/utilities';

.landing-container {
  display: flex;
  flex-direction: column;
}

.banner {
  display: flex;
  flex-direction: column;
  background:
    linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
    url('/assets/images/landing-banner.jpg') 0% 0% no-repeat padding-box;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  justify-content: center;
  color: variables.$primary;
  position: relative;

  @media (max-width: variables.$device-mobile-l) {
    height: 9rem;
    padding: utilities.$spacer * utilities.$size-3;
  }
  @media (min-width: calc(variables.$device-mobile-l + 1px)) and (max-width: variables.$device-tablet) {
    height: 11rem;
    padding: utilities.$spacer * utilities.$size-4;
  }
  @media (min-width: calc(variables.$device-tablet + 1px)) and (max-width: variables.$device-laptop) {
    height: 12rem;
    padding: utilities.$spacer * utilities.$size-4;
  }
  @media (min-width: calc(variables.$device-laptop + 1px)) {
    height: 12rem;
    padding: utilities.$spacer * utilities.$size-5;
  }
}

.subtitle {
  width: 45vw;
}

.buttons-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: variables.$device-mobile-l) {
    height: calc(100svh - 9rem);
  }
  @media (min-width: calc(variables.$device-mobile-l + 1px)) and (max-width: variables.$device-tablet) {
    height: calc(100svh - 11rem);
  }
  @media (min-width: calc(variables.$device-tablet + 1px)) and (max-width: variables.$device-laptop) {
    min-height: calc(100svh - 12rem);
  }
  @media (min-width: calc(variables.$device-laptop + 1px)) {
    min-height: calc(100svh - 12rem);
  }
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: variables.$device-mobile-l) {
    width: 100%;
    margin-left: utilities.$spacer * utilities.$size-3;
    gap: utilities.$spacer * utilities.$size-3;
  }
  @media (min-width: calc(variables.$device-mobile-l + 1px)) and (max-width: variables.$device-tablet) {
    width: 26rem;
    gap: utilities.$spacer * utilities.$size-4;
  }
  @media (min-width: calc(variables.$device-tablet + 1px)) and (max-width: variables.$device-laptop) {
    width: 32rem;
    gap: utilities.$spacer * utilities.$size-4;
  }
  @media (min-width: calc(variables.$device-laptop + 1px)) {
    gap: utilities.$spacer * utilities.$size-4;
  }
}

.chatbot {
  position: absolute;
  background-image: url('/assets/images/chatbot.png');
  transform: rotate(-13deg);

  @media (max-width: variables.$device-mobile-l) {
    right: 1rem;
    background-size: 5rem 5rem;
    width: 5rem;
    height: 5rem;
  }
  @media (min-width: calc(variables.$device-mobile-l + 1px)) and (max-width: variables.$device-tablet) {
    right: 1rem;
    background-size: 6rem 6rem;
    width: 6rem;
    height: 6rem;
  }
  @media (min-width: calc(variables.$device-tablet + 1px)) and (max-width: variables.$device-laptop) {
    right: 1rem;
    background-size: 7rem 7rem;
    width: 7rem;
    height: 7rem;
  }
  @media (min-width: calc(variables.$device-laptop + 1px)) {
    right: 1rem;
    background-size: 7rem 7rem;
    width: 7rem;
    height: 7rem;
  }
}
