// Typography.
$font-2xs: 10px;
$font-xs: 12px;
$font-sm: 14px;
$font-reg: 16px;
$font-lg: 18px;
$font-xl: 20px;
$font-2xl: 24px;
$font-3xl: 28px;
$font-4xl: 50px;

// Colors.
$bg-1: rgb(243 247 253);
$bg-2: #ffffff;
$bg-3: #f8f8fa;

$primary: #343434;
$secondary: #3c61dd;
$tertiary: #7b7474;
$light: #ffffff;
$chat: #2f0ecd;
$quiz: #f704b3;
$usecase: #0e66cd;
$connect: #3daaaa;

$success: #44d62c;
$error: #c8323c;

// Navbar.
$navbar-border: #e9edef;

$letter-spacing-sm: 0.1rem;
$letter-spacing-reg: 0.2rem;
$letter-spacing-lg: 0.3rem;

// Screen sizes.
$device-mobile-s: 320px;
$device-mobile-m: 375px;
$device-mobile-l: 425px;
$device-tablet: 768px;
$device-laptop: 1024px;
