@use 'core/styles/variables';

.app-container {
  position: relative;

  @media (max-width: variables.$device-mobile-s) {
  }
  @media (min-width: calc(variables.$device-mobile-s + 1px)) and (max-width: variables.$device-mobile-m) {
  }
  @media (min-width: calc(variables.$device-mobile-m + 1px)) and (max-width: variables.$device-mobile-l) {
  }
  @media (min-width: calc(variables.$device-mobile-l + 1px)) and (max-width: variables.$device-tablet) {
  }
  @media (min-width: calc(variables.$device-tablet + 1px)) and (max-width: variables.$device-laptop) {
  }
  @media (min-width: calc(variables.$device-laptop + 1px)) {
  }
}

.background {
  background-image: url('/assets/images/background.png');
  width: 100vw;
  height: 100%;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.3;
  background-size: cover;
  z-index: -1;
}
